@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

<form asp-action="Index" asp-controller="Account">
    <input type="text" name="username" placeholder="username" required="required"/>
    <input type="password" name="password" placeholder="password" required="required"/>
    <input type="submit"/>
</form>