<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <form (ngSubmit)="sendQuery()" #queryForm="ngForm">
    <div class="form-group">
      <input type="text" [(ngModel)]="model.query" class="form-control" id="query" required="required" #query="ngModel" name="queryField" />
      <div [hidden]="query.valid || query.pristine" class="alert alert-danger">
        Field is required
      </div>
      <!--<button class="btn btn-primary" [disabled]="!queryForm.form.valid" (click)="sendQuery()">Send</button>-->
      <button class="btn btn-primary" [disabled]="!queryForm.form.valid">Send</button>
    </div>
  </form>
  </div>
