@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <form asp-action="Query" asp-controller="Home" >
            <input name="query.input" required="required" placeholder="Ask me to do something.." class="form-control"/>
            <input type="submit" value="Send"/>
        </form>
    </div>
</div>
