<h2>Login</h2>
<div class="col-md-6 mx-auto">
  <div class="card card-body">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div class="form-group">
        <input type="text" #phoneNumber="ngModel" [ngModel]="credentials.phoneNumber" name="phoneNumber" required="required" placeholder="+15556667777" class="form-control" />
      </div>
      <div class="form-group">
        <input type="text" #accessCode="ngModel" [ngModel]="credentials.accessCode" name="accessCode" required="required" placeholder="xxxxxx" class="form-control" />
      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block">Verify</button>
    </form>
  </div>
</div>
